.flexbox{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.flexbox-col{
    display: flex;
    flex-direction: col;
    justify-content:center;
    align-items: center;

}
.flex-contentbox{
    width: 550px;
    margin: 1px;
    border: none;
    background-color: white;
}
.box{
    background-color:white; 
    border: 1px solid white; 
    padding: 5px;
    margin : 10px; 

}
.logo-box{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-space-around{
    justify-content: space-around;
}
.flexbox-item1{
    width: 170px;
    margin: 5px;
    border: none;
    background-color: white;
}
.flexbox-item2{
    width: 120px;
    margin: 1px;
    border: none;
    background-color: white;

}
