@font-face {
    font-family: "Amazon-Ember";
    src: url("/CT_WorkSpace/fonts/amazon-ember-cufonfonts/Amazon\ Ember\ Cd\ RC\ Thin.ttf") format("amazon-ember");
    src: url("/CT_WorkSpace/fonts/amazon-ember-cufonfonts/Amazon\ Ember\ Cd\ RC\ Thin.ttf") format("amazon-ember");
}
*{
    font-family: "Amazon-Ember";
}
.logo{
    width: 150x;
    height: 50px; 
    align-items: center;
}
.btn{
    width: 100%; 
    border-radius: 10px; 
    height: 40px;

    font-size: medium;
    
}
.gold-btn{
    background-color: gold;
}

.silver-btn{
    background-color: silver;
    margin-top: 10px;
}
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}

.align-right{
    margin-left: 130px;
}

input{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(201, 196, 196);
    border-radius: 10px;
}

a:link{
    text-decoration: none; 
    color: rgb(14, 4, 146)
}
a:visited{
    text-decoration: none;
    color: rgb(14, 4, 146)
}
hr{
    margin-top: 10px; 
}
.signin{
    font-size:xx-large;
    font-weight: 600;
   
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px;

}
.flexbox-col{
    display: flex;
    flex-direction: col;
    justify-content:center;
    align-items: center;

}
.flex-contentbox{
    width: 350px;
    margin: 15px;
    padding: 15px;
    border: 1px solid rgb(201, 196, 196);
    background-color: white;
    border-radius: 10px;    
}
.flex-contentbox1{
    width: 350px;
    margin: 20px;
    border: 1px solid rgb(253, 253, 253);
    background-color: white;
    border-radius: 10px;    
}
.box{
    background-color:white; 
    padding: 5px;
    margin : 10px;

}

.need-help{
    margin-top: 10px;
    margin-bottom: 10px;
}
span:after,
span:before{
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: rgb(201,196,196); 
    vertical-align: middle;

}


footer{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}